* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "IBM Plex Mono SemiBold", monospace;
}

body {
  background-color: black;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  opacity: 0;
}
